<div class="card">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>Subscription Form </h3>
      <p class="m-auto subs-text">Lorem ipsum dolor </p>
      <form action="" class="subscribe-form form-inline mb-5">
        <div class="form-group col-md-5">
          <input type="text" name="" class="form-control" placeholder="Your name">
        </div>
        <div class="form-group col-md-5">
          <input type="email" name=""  class="form-control" placeholder="Email adress">
        </div>
        <div class="col-md-2 text-start">
          <button type="submit" class="btn btn-info btn-block btn-sub">Subscribe</button>
        </div>
      </form>

    </div>
  </div>
</div>
