:host {
  display: inline-block;
  z-index: 100;
  width: 50%;

  nav {
    height: 76px;
  }
}

.app-header-navbar {
  font-size: 22px;

  .nav-link {
    padding-left: 28px;
    padding-right: 28px;
    border: 2px solid white;
    background-color: rgba(278, 278, 278, .7);
  }
}
