:host {
  display: block;
  max-height: 510px;
}

.wrap-main-gallery {
  margin: 0 auto;
}

.slide-template {
  min-height: 100%;
}

.slide-text {
  font-size: 50px;
  line-height: 1;
  max-width: 70%;
  margin-left: 3%;
}

.slide-pretext {
  font-size: 20px;
  margin-top: 30px;
  line-height: 1.5;
}
