<div class="wrap-main-gallery app-container" #wrapGallery>
      <gallery
        class="ngx-gallery"
        [items]="items"
        [counter]="true"
        [autoPlay]="false"
        [thumbHeight]="thumbHeight"
        imageSize="cover"
        thumbPosition="left"
        thumbView="contain"
        [itemTemplate]="slideTemplate"
      ></gallery>

      <ng-template #slideTemplate
                   let-index="index"
                   let-type="type"
                   let-data="data"
                   let-currIndex="currIndex">
        <div *ngIf="type === 'image' && index === currIndex"
             id="slide-template-{{ index }}"
             class="slide-template d-flex align-items-end flex-row">
          <div class="slide-text grotesk-font text-xl">
            {{slideData[index].title}}
            <p class="slide-pretext">{{slideData[index].pretext}}</p>
          </div>
        </div>
      </ng-template>
    </div>
