:host {
  display: inline-block;
  width: 50%;

  .navbar {
    height: 76px;
  }
}

.site-logo {
  font-size: 40px;
  font-weight: bold;
}

.navbar-logo {
  margin-left: 22%;
  text-shadow: 2px 2px 2px #121212;
}
