:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  height: 78px;
  z-index: 11;
  top: 0;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.4);
}
