<section class="bg-silver">
  <app-main-slider></app-main-slider>
</section>

<section class="bg-charcoal">
  <div class="app-container">
    <div class="row tiles-row">
      <h2 class="section-header text-center text-uppercase">Featured Posts</h2>
      <ng-container *ngFor="let col of cols; let i = index">
        <div class="col-xl-3 col-lg-4 col-sm-6 d-flex">
          <ng-container *ngFor="let post of posts; let j = index">
            <app-post-card *ngIf="((j + cols.length + i)  % (cols.length)) === 0"
             [dataPost]="post"
             [shadowClass]="'card-shadow-dark'"
            ></app-post-card>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="bg-silver tiles-section">
  <div class="app-container">
    <div class="row tiles-row">
      <h2 class="section-header text-center text-uppercase">Last Posts</h2>
      <ng-container *ngFor="let col of cols; let i = index">
        <div class="col-xl-3 col-lg-4 col-sm-6 d-flex">
          <ng-container *ngFor="let post of posts; let j = index">
            <app-post-card *ngIf="((j + cols.length + i)  % (cols.length)) === 0"
              [dataPost]="post"
              [shadowClass]="'card-shadow-light'"
            ></app-post-card>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</section>
