<div class="">
  <h4 class="text-center mb-5 mt-3">About Us</h4>
  <div class="about-text-box">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur cum cupiditate debitis dolor dolores
      facere hic ipsum laboriosam minima molestias odio, quae quam quo, repellat, sit ut vel veniam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur cum cupiditate debitis dolor dolores
      facere hic ipsum laboriosam minima molestias odio, quae quam quo, repellat, sit ut vel veniam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur cum cupiditate debitis dolor dolores
      facere hic ipsum laboriosam minima molestias odio, quae quam quo, repellat, sit ut vel veniam!</p>
  </div>
  <a routerLink="/" class="btn btn-info">Back to home</a>
</div>
