<div class="app-container single-post">
  <div class="row">
    <div class="col-md-5">
      <div class="">
        <h5 class="author">Author</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur autem consectetur debitis
          enim esse, explicabo in ipsa magnam quod soluta, vel! Ad fuga nobis quam quidem voluptatum. Numquam,
          temporibus!</p>
        <div class="wrap-img-post">
          <img class="img-cover" src="/assets/images/post1.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="row">
        <div class="col-md-7">
          <div class="wrap-img-post rt-img-post overflow-hidden">
            <img class="img-cover" src="/assets/images/pexels-lisa-fotios-2780555.jpg" alt="">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="wrap-img-post rm-img-post mt-4 overflow-hidden">
            <img class="img-cover" src="/assets/images/pexels-david-mcbee-730564.jpg" alt="">
          </div>
          <p>As the sun graces us with its golden warmth and the days grow longer, it's time to welcome the summer
            season with open arms and, of course, a stunning wardrobe update. From flowing dresses to chic accessories,
            this year's summer fashion trends are all about embracing elegance and making a statement. In this article,
            we'll dive into the hottest fashion trends that are set to dominate the scene, ensuring you step out in
            style and confidence.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-12">
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
      <app-comment-list></app-comment-list>
    </div>
    <!--    <h1 class="text-uppercase font-grotesk text-center">A CELEBRATION OF NATURE</h1>-->


  </div>
</div>


<!--          <small class="bg-light text-danger text-center">Design</small>-->
<!--          <small class="bg-light text-danger text-center ml-2">Featured</small>-->
<!--          <small class="bg-light text-danger text-center ml-2">Views - 100,250</small>-->
<!--          <small class="bg-light text-danger text-center ml-2">Last Updated - sep 20, 2021</small>-->
