$font-size-base: 16px;

$font-size-md_sm: $font-size-base * 1.125; // 18
$font-size-md: $font-size-base * 1.375; // 22
$font-size-lg: $font-size-base * 2.06; // 32
$font-size-xl: $font-size-base * 3.15; // 50
