@import "color-variables";

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Roboto&family=Space+Grotesk:wght@300;400;600;700&display=swap');

$font-size-base: 16px;

.font-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.font-lobster {
  font-family: 'Lobster', cursive;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-silver {
  background-color: $lightSilver;
}

.bg-charcoal {
  background-color: $charcoal;
  color: $lightSilver;
}

.bg-quartz {
  background-color: $quartz;
}

.color-lightSilver {
  color: $lightSilver;
}

.color-charcoal {
  color: $charcoal;
}

.text-base {
  font-size: $font-size-base;
}

.text-md {
  font-size: $font-size-base * 1.375;
}

.text-sm {

}

.text-lg {
  font-size: $font-size-base * 2.06;
}

.text-xl {
  font-size: 50px;
}
