@import "color-vars";
@import "font-size-vars";

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Roboto&family=Space+Grotesk:wght@300;400;600;700&display=swap');


.font-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.font-lobster {
  font-family: 'Lobster', cursive;
}

//---------------------- backgrounds ------------
.bg-transparent {
  background-color: transparent !important;
}

.bg-silver {
  background-color: $lightSilver;
}

.bg-charcoal {
  background-color: $charcoal;
  color: $lightSilver;
}

.bg-quartz {
  background-color: $quartz;
}

.color-lightSilver {
  color: $lightSilver;
}

.color-charcoal {
  color: $charcoal;
}

//---------------- text ------------------
.text-base {
  font-size: $font-size-base;
}

.text-md {
  font-size: $font-size-md;
}

.text-md_sm {
  font-size: $font-size-md_sm;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-xl {
  font-size: $font-size-xl;
}

.form-control:focus {
  border-color: $beige_gold;
  box-shadow: 0 0 3px 0 $beige_gold;
}

//----------- buttons ------------
.btn-base {
  background: transparent;
  border: 1px solid;
  border-radius: 1em;
}

.btn-base:active,
:not(.btn-check)+.btn-base:active,
.btn-base:hover,
.btn-base:focus {
  background-color: $beige_gold;
  border-color: var(--bs-body-color);
  box-shadow: 0 0 3px 0 $beige_gold;
}


