@import "color-variables";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Space+Grotesk:wght@400;600&display=swap');

.grotesk-font {
  font-family: 'Space Grotesk', sans-serif;
}

.bg-silver {
  background-color: $lightSilver;
}

.bg-charcoal {
  background-color: $charcoal;
  color: $lightSilver;
}

.bg-quartz {
  background-color: $quartz;
}
