<div
  class="app-card bg-quartz d-flex justify-content-center align-items-center"
  [style.height]="randomHighEl + 'px'"
  [ngClass]="shadowClass"
>
  <div class="app-card-body position-relative">
    <h5 class="app-card-title text-uppercase text-lg font-grotesk">
      <a [routerLink]="'post/'+ post.id" class="color-charcoal">{{post.title}}</a>
    </h5>
<!--    <p class="app-card-text">{{text}}</p>-->
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
  <a [routerLink]="'post/'+ post.id" class="app-card-box-img">
    <img [src]="post.image" class="app-card-img img-cover" alt="">
  </a>
</div>
